.post {
  position: absolute;
  width: 70%;
  margin-top: 250px;
  padding-bottom: 250px;
  font-family: "Noto Sans KR", sans-serif;
  left: 15%;
  transform: translate(-15%);
}
.post img {
  width: 100%;
  height: 100%;
}
.postText {
  font-size: 15pt;
  margin-top: 30px;
}
@media screen and (min-width: 1023px) {
  .post {
    width: 60%;
  }
  .postText {
    font-size: 20pt;
  }
}

.list {
  list-style: decimal;
  line-height: 2em;
}
